/* Estilos para a tag <footer
   (centraliza e adiciona espaçamento) */
.footer {
    color: #c9c9c9;
    font-size: small;
    font-weight: 100;
    margin-top: 24px;
}

/* O gatilho <h3> */
.footer-trigger {
    /* Mudei para ser mais específico e evitar conflitos */
    cursor: pointer;
    color: #c9c9c9;
    display: inline-block;
    transition: color 0.2s ease-in-out;
    font-weight: normal;
    font-size: small;
}

/* O fundo escuro (Overlay) */
.popup-overlay {
    /* Mudei para ser mais específico */
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* O conteúdo (a caixa branca) */
.popup-content {
    /* Mudei para ser mais específico */
    position: relative;
    background-color: #fff;
    border-radius: 12px;
        box-shadow: 0px 1px 7px 10px rgb(0 0 0 / 20%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    width: 91.6667%;
    max-width: 42rem;
}

/* O botão 'X' de fechar */
.popup-close-button {
    /* Mudei para ser mais específico */
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.3rem;
    line-height: 1;
    cursor: pointer;
    border: none;
    background-color: #f07272;
    width: 22px;
    height: 23px;
    border-radius: 4px;
}

.popup-close-button:hover {
    color: #000;
}

/* A imagem dentro do pop-up */
.popup-image {
    /* Mudei para ser mais específico */
    width: 100%;
    height: auto;
    border-radius: 6px;
}