@font-face {
    font-family: "SfProDisplayHeavyItalic";
    src: url("../assets/sf-pro-display/SFPRODISPLAYHEAVYITALIC.OTF") format("truetype");
}

.sidebar {
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #72a5ea1f;
}

.logo-sidebar {
    width: 180px;
    margin-top: 20px;
}

.line {
    border: 0.01em solid #00000038;
    margin-left: auto;
    margin-right: auto;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
}


.sidebar-link {
    color: black;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: "SfProDisplayHeavyItalic", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.sidebar-link:hover {
    transform: scale(1.02);
    text-decoration: underline;
}

.logout-bottom {
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgb(242, 10, 10);
    font-size: 17px;
}

.icon-sidebar {
    margin-right: 10px;
    font-size: 22px;
}


.sidebar-button {
    background: transparent;
    border: 0;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 220ms ease;
    padding-left: 2.2rem;
    display: grid;
}

.submenu.open {
    max-height: 300px;
}


.submenu-link {
    color: #111;
    text-decoration: none;
    padding: .5rem 0;
    font-size: 1rem;
}

.submenu-link:hover {
    transform: scale(1.03);
}

.submenu-link.active {
    font-weight: 700;
}

.chevron {
    margin-left: 5px;
    transition: transform 200ms ease;
}

.chevron.rotate {
    transform: rotate(180deg);
}